##################################################################################
#
#
#  TVU (Timing Reception Unit)
#
#
#  Author: Joost Witteveen
#
#
#
#PIN "MR_CCR_Process/BUFG_inst.O" CLOCK_DEDICATED_ROUTE = FALSE;

#For XC6SKX16-FTG256 TVU
# Crystal Clock 25MHz onboard oscillator
NET "clkin" LOC = "J12" | IOSTANDARD = LVCMOS25 | PERIOD = 40.0ns ;

#NET "PI_SCLK" LOC = "T13"| IOSTANDARD = LVCMOS25; # W1_B16, P1-26
#NET "PI_MOSI" LOC = "R15"| IOSTANDARD = LVCMOS25; # W1_A4,  P1-19   
#NET "PI_MISO" LOC = "R16"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW; # w1_A3,  P1-21
#NET "PI_SS"   LOC = "T14"| IOSTANDARD = LVCMOS25; # W1_B15, P1-24


NET "sstep" LOC = "D1" | IOSTANDARD = LVCMOS25 | DRIVE=16 | SLEW=FAST;	  #SIG_OUT_0
NET "state" LOC = "C1" | IOSTANDARD = LVCMOS25 | DRIVE=16 | SLEW=FAST;	  #SIG_OUT_1
NET "rst" LOC = "B1" | IOSTANDARD = LVCMOS25 | DRIVE=16 | SLEW=FAST;	  #SIG_OUT_2

NET "CLK0OUT" LOC = "A11"| IOSTANDARD = LVCMOS25 | DRIVE=16 | SLEW=FAST;	  #SIG_OUT_3
NET "CLK1OUT" LOC = "A12"| IOSTANDARD = LVCMOS25 | DRIVE=16 | SLEW=FAST;	  #SIG_OUT_4
#NET "" LOC = "A13"| IOSTANDARD = LVCMOS25 | DRIVE=16 | SLEW=FAST;   #SIG_OUT_5

#LED's
#NET  "LED<3>" LOC = "H2"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED00  (Top.0)
#NET  "LED<4>" LOC = "H1"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED01  (Top.1)
#NET  "LED<5>" LOC = "J3"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED02  (Top.2)
#NET  "LED<6>" LOC = "J1"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED03  (Top.3)
#NET  "LED<7>" LOC = "K2"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED04  (Top.4)
#NET  "LED<8>" LOC = "K1"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED05  (Top.5)
#NET  "LED<9>" LOC = "L3"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED06  (Top.6)
#NET "LED<10>" LOC = "L1"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED07  (Top.7)
#NET "LED<11>" LOC = "M2"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED08  (Top.8)
#NET "LED<12>" LOC = "M1"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED09  (Top.9)
#
#NET "LED<16>" LOC = "M5"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED10 (Top.0)
#NET "LED<17>" LOC = "N4"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED11 (Top.0)
#NET "LED<18>" LOC = "R2"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED12  (Bot.2)
#NET "LED<19>" LOC = "R1"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED13  (Bot.2)
#NET "LED<20>" LOC = "P2"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED14  (Bot.4)
#NET "LED<21>" LOC = "P1"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED15 (Bot.4)
#NET "LED<22>" LOC = "N3"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED16  (Bot.6)
#NET "LED<23>" LOC = "M4"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED17  (Bot.6)
#NET "LED<24>" LOC = "N1"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED18  (Bot.8)
#NET "LED<25>" LOC = "M3"| IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;   #LED19  (Bot.8)
##NET "TRIGGER<0>" LOC = "H1"| IOSTANDARD = LVCMOS25 | DRIVE=16;   #LED18  (Bot.8)
##NET "TRIGGER<1>" LOC = "M5"| IOSTANDARD = LVCMOS25 | DRIVE=16;   #LED19  (Bot.8)
#
#
#
#NET "MR_OUT1_P" LOC= "B8"; 
#NET "MR_OUT1_N" LOC= "A8"; 
#
#NET "CCR_OUT1_P" LOC="B2"; 
#NET "CCR_OUT1_N" LOC="A2"; 
#
#NET "MR_IN1_P" LOC= "B10"; 
#NET "MR_IN1_N" LOC= "A10"; 
#
#NET "CCR_IN1_P" LOC="C9"; 
#NET "CCR_IN1_N" LOC="A9"; 